*{
    padding: 0;
    margin: 5px;
    box-sizing: border-box;

}

.logoImagen{
   
    top: 0;
    left: 0%;
    display: block;
}
.logoBanner{
    
    right: 0%;
    display: block;
}    

header{
    display: flex;
    flex-direction: row;
}


body{
    background-color: #23374D;
}
.tituloContacto{
    color: #1089FF;
    text-align: center;
}

.footerContacto{
    color: #1089FF;
    background-color: black;
    text-align: right;
}

.instagram{
    color: #1089FF;
}

.completarSocio {
   color: #1089FF;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
nav ul li{
    margin: 15px;
    background-color:#1089FF;
    align-items: center;
    color: black;
    border-radius: 2rem;
    padding: 0.5rem;
}

.tituloMain{
    text-align: center;
}
.footerIndex{
    color: #1089FF;
    background-color: black;
    text-align: right; 
}
.footerSocios {
    color: #1089FF;
    background-color: black;
    text-align: right;
}


.footerApp{
    color: #1089FF;
    background-color: black;
    text-align: right; 
}


.footerAct{
    color: #1089FF;
    background-color: black;
    text-align: right;
}

.tituloActiv{
    text-align: center;
}

.Horarios{
    display: grid;
    grid-template-areas: "h1 h1 h1"
                         "nav nav nav"
                         "img img img";

}
/* la idea es que el p quede al lado del img */
.indexOrden{
    display: grid;
    grid-template-areas: "header header"
                        "h1 h1"
                        "h2 h2"
                        "nav nav"
                        "img p"
                        "footer footer";
}